/* Fonty */
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Host Grotesk", sans-serif;
}

body {
    padding: 1rem;
}

#prompt_input {
    padding: 0.5rem;
    border-radius: 0;
    border-style: solid;
    border-color: black;
    width: 40rem;
}

button {
    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 0;
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 1rem;
}

button:hover {
    background-color: rgb(24, 24, 24);
}

button:active {
    background-color: rgb(31, 31, 31);
}